option_settings:
  aws:elasticbeanstalk:environment:EnvironmentName:
    EnvironmentType: LoadBalanced
    ServiceRole: aws-elasticbeanstalk-service-role
    LoadBalancerType: application
    HealthCheckPath: /healthcheck
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.large
    RootVolumeSize: '10'
    EC2KeyName: your-ec2-key-pair-name
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
    Cooldown: 300
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Rolling
    BatchSize: '1'
    BatchSizeType: Percentage