option_settings:
  aws:elasticbeanstalk:environment:staging:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.large
    RootVolumeSize: '30'
    EC2KeyName: electscrapper-key
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
    Cooldown: 300
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Rolling
    BatchSize: '1'
    BatchSizeType: Percentage
  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: '20'
    HealthCheckInterval: '15'
    HealthCheckPath: /health
    HealthCheckTimeout: '5'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'
    StickinessEnabled: 'true'
    StickinessLBCookieDuration: '43200'