option_settings:
  aws:elasticbeanstalk:application:environment:
    ACCOUNT_TIER_BASIC_REGISTERED: ''
    ACCOUNT_TIER_BASIC_UNREGISTERED: ''
    ACCOUNT_TIER_ENTERPRISE: ''
    ACCOUNT_TIER_TEAM: ''
    MAILGUN_API_KEY: ''
    MAILGUN_DOMAIN: ''
    MAILGUN_SENDER_NAME: ''
    MONGO_CONNECTION_STRING: ''
    MONGO_DATABASE: ''
    MONGO_PASSWORD: ''
    OPENAI_API_KEY: ''
    MONGO_PORT: 27015
    MONGO_USER: ''
    PORT: 8080
    TOKEN_PRIVATE_KEY: ''
    TOKEN_PUBLIC_KEY: ''

