option_settings:
  aws:elasticbeanstalk:application:environment:
    ACCOUNT_TIER_BASIC_REGISTERED: '10'
    ACCOUNT_TIER_BASIC_UNREGISTERED: '5'
    ACCOUNT_TIER_ENTERPRISE: '2000'
    ACCOUNT_TIER_TEAM: '20'
    MAILGUN_API_KEY: '***************'
    MAILGUN_DOMAIN: 'hi.tallyng.com'
    MAILGUN_SENDER_NAME: 'Tally <hi@tallyng.com'
    MONGO_CONNECTION_STRING: 'link'
    MONGO_DATABASE: 'Pintel-poc-dev'
    MONGO_PASSWORD: '*******'
    OPENAI_API_KEY: '*************************'
    MONGO_PORT: 27015
    MONGO_USER: '*********'
    PORT: 8080
    TOKEN_PRIVATE_KEY: '*********************************'
    TOKEN_PUBLIC_KEY: '**************'

